/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text for readability */
    margin: 0; /* Elimina márgenes predeterminados del body */
    padding: 0; /* Elimina relleno predeterminado del body */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

/* Header */
header {
    background-color: #E0C268; /* Ocre claro */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0; /* Elimina márgenes del encabezado */
}

/* Navigation menu */
nav ul {
    list-style-type: none;
    text-align: center;
    margin: 20px 0;
    padding: 0; /* Elimina relleno predeterminado */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li a:hover {
    color: #E0C268; /* Ocre claro on hover */
}

/* Main content */
main {
    padding: 20px;
    margin-top: 20px; /* Espacio superior adicional para el contenido */
}

section {
    margin-bottom: 30px;
}

section h2, section h3 {
    color: #E0C268; /* Ocre claro */
    margin-top: 0; /* Elimina márgenes superiores adicionales */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px; /* Agrega margen inferior en párrafos */
}

ul, ol {
    margin-left: 20px;
}

/* Emphasized text */
.enfasis {
    font-weight: bold;
    color: #E0C268;
}

/* Image styling */
.imagen{
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px 0;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #E0C268;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 0.9rem;
    margin: 0; /* Elimina márgenes del pie de página */
}




